.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.shadowed {
  filter: drop-shadow(10px 24px 12px rgba(0, 0, 0, 0.25));
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.shadow-outline {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.shadow-none {
  box-shadow: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.upload-image {
  background-color: #ccc;
  position: relative;
  border: 3px solid $white-bis;
  border-radius: $radius;
  overflow: hidden;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: $radius;
    background-position: center;
  }

  .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0004;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.is-required {
  &::after {
    content: " *";
    color: #f84949;
    display: inline;
    font-weight: 500;
  }
}

.flex-column {
  flex-direction: column;
}

.is-circular {
  border-radius: 50% !important;
}

.has-radius-small {
  border-radius: $radius-small;
}

.has-radius {
  border-radius: $radius;
}

.has-radius-large {
  border-radius: $radius-large;
}

.full-width {
  width: 100%;
}

.select-none {
  user-select: none;
}
